@charset "UTF-8";

main {
    margin: 0 1rem;
}
h2 {
    text-align: center;
    margin-top: 2rem;
}
.subtitle {
    text-align: left;
    font-size: 1.5rem;
    margin: 4rem .5rem 1.5rem;
    padding-left: .5rem;
    border-left: 5px solid #666;
}
.container {
    display: grid;
    gap: 2rem 1rem;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.item {
    border-radius: .5rem;
    box-shadow: 0 0 7px rgb(196, 196, 196);
    min-width: 170px;
}
.item-color {
    width: 130px;
    height: 120px;
    margin: 1rem auto;
}
.mansell {
    margin: 0 .75rem .55rem;
    text-align: right;
    padding: .25rem .5rem 0 0;
    font-size: .8rem;
    border-top: 1px solid rgb(196, 196, 196);
}
.item-name {
    font-weight: bold;
}
.item-ruby {
    font-size: .8rem;
    margin: .25rem 0 1rem;
}
.systematic {
    margin: 1.5rem .75rem .55rem;
    text-align: right;
    padding: .25rem .5rem 0 0;
    font-size: .8rem;
    border-top: 1px solid rgb(196, 196, 196);
}
.item-description {
    font-size: .7rem;
    margin: .75rem 3rem 1rem
}
@media (max-width: 800px) {
    .systematic {
        margin-top: .5rem;
    }
    .item-description {
        margin: .75rem .5rem 1rem;
    }
}

table {
    border-collapse: collapse; 
    width: 600px;
}
table, th, td {
    border: 1px solid #000;
}
thead th {
    text-align: center;
}
tbody td:first-child {
    text-align: left;
    padding-left: .5rem;
}
tbody .inconsistent {
    color: rgb(255, 140, 0);
}
tbody td:not(:first-child) {
    text-align: center;
}

.description {
    margin: 0 1rem 2rem;
}
.description p {
    margin: 1rem auto;
    font-size: 14px;
    line-height: 1.7;
}

.backToTop-box {
    display: flex;
    justify-content: flex-end;
    margin: 0 1rem 4rem 1rem;
}
#backToTop {
    width: 105px;
    padding: .5rem;
    font-size: 12px;
    color: #FFF;
    background-color: #888;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 800px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* フォント
------------------------------------- */
main {
    font-family: sans-serif, serif;
}


/* checkbox
---------------------------------- */
.CheckBoxes {
    margin: 1rem auto -1rem;
    width: 20rem;
    display: flex;
    justify-content: space-around;
}
.circle-checkboxes {
    margin: 0 -2rem;
    padding-left: .5rem;
}

div.circle {
    width: 30px;
    height: 30px;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    left: 1rem;
    top: .75rem;
  }
  div svg {
    overflow: visible;
  }
  div path {
    fill: none;
  }
  div text {
    fill: #000;
  }

.checkboxes {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.checkbox {
    margin: 0.25rem auto;
    width: 96px;
    height: 40px;
    display: flex;
    justify-content: center;  /* 横方向の中央 */
    align-items: center; 
    border: 1px solid #000;
    background-color: #666;
    color: #FFF;
    border-radius: 8px;
}
.unchecked {
    background-color: #FFF;
    color: #888;
    border: 1px solid #888;
}

input[type="checkbox"] { display: none; }
  
input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 2rem;
    font: 14px/20px sans-serif, serif;
    cursor: pointer;
}
  
input[type="checkbox"] + label:last-child { margin-bottom: 0; }
  
input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #888;
    position: absolute;
    left: 0;
    top: 2px;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}
  
input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -2px;
    left: 5px;
    border-radius: 0;
    border: 2px solid #FFF;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (min-width: 800px) {
    .CheckBoxes {
        margin-top: 2rem;
        width: 30rem;
    }
}


.invisible_grade {
    display: none;
}
.invisible_name {
    display: none;
}


/* Japanese
--------------------------------------------- */
/* Red type */
#sakura .item-color {
    background-color: #FBDADE;
}
#sango .item-color {
    background-color: #FF7F8F;
}
#koubai .item-color {
    background-color: #DF828A;
}
#shu .item-color {
    background-color: #EF454A;
}
#akane .item-color {
    background-color: #9E2236;
}
/* Yellow type */
#rennga .item-color {
    background-color: #914C35;
}
#kuri .item-color {
    background-color: #704B38;
}
#yamabuki .item-color {
    background-color: #F8A900;
}
#oudo .item-color {
    background-color: #B8883B;
}
#karasi .item-color {
    background-color: #C8A65D;
}
/* Green type */
#uguisu .item-color {
    background-color: #706C3E;
}
#matuba .item-color {
    background-color: #687E52;
}
#moegi .item-color {
    background-color: #97A61E;
}
#wakatake .item-color {
    background-color: #00A37E;
}
#seizi .item-color {
    background-color: #6DA895;
}
/* Blue type */
#asagi .item-color {
    background-color: #00859B;
}
#sora .item-color {
    background-color: #89BDDE;
}
#ai .item-color {
    background-color: #2B4B65;
}
#ruri .item-color {
    background-color: #00519A;
}
#kakitubata .item-color {
    background-color: #435AA0;
}
#gunjou .item-color {
    background-color: #384D98;
}
#kikyou .item-color {
    background-color: #4347A2;
}
/* Purple type */
#nasukon .item-color {
    background-color: #473946;
}
#ayame .item-color {
    background-color: #C573B2;
}
#botan .item-color {
    background-color: #C94093;
}
/* Achromatic */
#kinari .item-color {
    background-color: #EAE0D5;
}

/* Foreign
---------------------------------------------------- */
/* Red type */
#winered .item-color {
    background-color: #80273F;
}
#babypink .item-color {
    background-color: #FEC6C5;
}
#bordeaux .item-color {
    background-color: #533638;
}
#carmine .item-color {
    background-color: #BE0039;
}
#vermilion .item-color {
    background-color: #EF454A;
}
#scarlet .item-color {
    background-color: #DE3838;
}
#salmonpink .item-color {
    background-color: #FF9E8C;
}
#chocolate .item-color {
    background-color: #503830;
}
/* Yellow type */
#peach .item-color {
    background-color: #E8BDA5;
}
#marigold .item-color {
    background-color: #FFA400;
}
#beige .item-color {
    background-color: #BCA78D;
}
#khaki .item-color {
    background-color: #A36851;
}
#sepia .item-color {
    background-color: #483C2C;
}
#blond .item-color {
    background-color: #F6A57D;
}
#creamyellow .item-color {
    background-color: #E4D3A2;
}
#lemonyellow .item-color {
    background-color: #D9CA00;
}
#canaryyellow .item-color {
    background-color: #EDD634;
}
#olive .item-color {
    background-color: #5C5424;
}
/* Green type */
#olivegreen .item-color {
    background-color: #575531;
}
#cobaltgreen .item-color {
    background-color: #09C289;
}
#emeraldgreen .item-color {
    background-color: #00A474;
}
#viridian .item-color {
    background-color: #006D56;
}
/* Blue type */
#turquoiseblue .item-color {
    background-color: #009DBF;
}
#marineblue .item-color {
    background-color: #00526B;
}
#cyan .item-color {
    background-color: #009CD1;
}
#skyblue .item-color {
    background-color: #89BDDE;
}
#babyblue .item-color {
    background-color: #A3BACD;
}
#cobaltblue .item-color {
    background-color: #0062A0;
}
#navyblue .item-color {
    background-color: #343D55;
}
#ultramarineblue .item-color {
    background-color: #384D98;
}
/* Purple type */
#violet .item-color {
    background-color: #714C99;
}
#mauve .item-color {
    background-color: #855896;
}
#lavender .item-color {
    background-color: #9A8A9F;
}
#purple .item-color {
    background-color: #A757A8;
}
#magenta .item-color {
    background-color: #D13A84;
}
/* Achromatic type */
#ivory .item-color {
    background-color: #DED2BF;
}
#silvergray .item-color {
    background-color: #9C9C9C;
}
#charcoalgray .item-color {
    background-color: #4B474D;
}




/* 2級 */
/* Japanese
--------------------------------------------- */
/* Red type */
#toki .item-color {
    background-color: #FA9CB8;
}
#karakurenai .item-color {
    background-color: #E64B6B;
}
#suou .item-color {
    background-color: #94474B;
}
#tobi .item-color {
    background-color: #7A453D;
}
#ebitya .item-color {
    background-color: #693C34;
}
#bengara .item-color {
    background-color: #863E33;
}
#ouni .item-color {
    background-color: #EB6940;
}
#hiwada .item-color {
    background-color: #865C4B;
}
#taisya .item-color {
    background-color: #B26235;
}
/* Yellow type */
#kouzi .item-color {
    background-color: #FAA55C;
}
#kohaku .item-color {
    background-color: #AA7A40;
}
#kutiba .item-color {
    background-color: #847461;
}
#ukon .item-color {
    background-color: #EDAE00;
}
#kariyasu .item-color {
    background-color: #EAD56B;
}
#kihada .item-color {
    background-color: #D6C949;
}
#miru .item-color {
    background-color: #716B4A;
}
#hiwa .item-color {
    background-color: #C2BD3D;
}
/* Green type */
#tokiwa .item-color {
    background-color: #007B50;
}
#rokusyou .item-color {
    background-color: #4D8169;
}
#tetu .item-color {
    background-color: #24433E;
}
#sinbasi .item-color {
    background-color: #53A8B7;
}
#nando .item-color {
    background-color: #00687C;
}
#kamenozoki .item-color {
    background-color: #7EB1C1;
}
#hanada .item-color {
    background-color: #2B618F;
}
/* Purple type */
#huzi .item-color {
    background-color: #A294C8;
}
#edomurasaki .item-color {
    background-color: #614876;
}
#kodaimurasaki .item-color {
    background-color: #765276;
}
/* Achromatic type */
#ginnezu .item-color {
    background-color: #9C9C9C;
}
#tyanezumi .item-color {
    background-color: #998D86;
}
#rikyuunezumi .item-color {
    background-color: #6E7972;
}
#susutake .item-color {
    background-color: #5D5245;
}

/* Foreign
---------------------------------------------------- */
/* Red type */
#rosepink .item-color {
    background-color: #EE8EA0;
}
#burgundy .item-color {
    background-color: #442E31;
}
#oldrose .item-color {
    background-color: #C67A85;
}
#poppyred .item-color {
    background-color: #DF334E;
}
#maroon .item-color {
    background-color: #662B2C;
}
#terracotta .item-color {
    background-color: #A95045;
}
#burntsienna .item-color {
    background-color: #A2553C;
}
#rawsienna .item-color {
    background-color: #B1632A;
}
/* Yellow type */
#tan .item-color {
    background-color: #9E6C3F;
}
#ecrubeige .item-color {
    background-color: #F5CDA6;
}
#goldenyellow .item-color {
    background-color: #E89A3C;
}
#amber .item-color {
    background-color: #AA7A40;
}
#burntamber .item-color {
    background-color: #57462D;
}
#rawamber .item-color {
    background-color: #765B1B;
}
#naplesyellow .item-color {
    background-color: #EEC063;
}
#jaunebrillant .item-color {
    background-color: #F4D500;
}
/* Green type */
#chartreusegreen .item-color {
    background-color: #C0D136;
}
#leafgreen .item-color {
    background-color: #89983B;
}
#grassgreen .item-color {
    background-color: #737C3E;
}
#applegreen .item-color {
    background-color: #A2D29E;
}
#mintgreen .item-color {
    background-color: #58CE91;
}
#malachitegreen .item-color {
    background-color: #007E4E;
}
#bottlegreen .item-color {
    background-color: #204537;
}
#peacockgreen .item-color {
    background-color: #007D7F;
}
/* Blue type */
#nileblue .item-color {
    background-color: #3D8E95;
}
#ceruleanblue .item-color {
    background-color: #0073A2;
}
#saxeblue .item-color {
    background-color: #5A7993;
}
#midnightblue .item-color {
    background-color: #252A35;
}
/* Purple type */
#wistaria .item-color {
    background-color: #7967C3;
}
#lilac .item-color {
    background-color: #C29DC8;
}
/* Achromatic type */
#slategray .item-color {
    background-color: #515356;
}
#lampblack .item-color {
    background-color: #212121;
}